.logo {
  font-family: "Irish Grover", system-ui;
}

.menus.show {
  display: flex;
}

/* Remove arrows */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.send_menus.show {
  display: flex;
}

/* Remove arrows in Firefox */
/* .no-spinner {
  -moz-appearance: textfield;
} */
