.logo {
    font-family: "Irish Grover", system-ui;
;
}

.menus.show {
    display: flex;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}